<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="css/login_styles.css">
<!-- <script src="login.js"></script> -->
<!-- <link rel="stylesheet" type="text/css" href=""> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>
<head>
	<title></title>
</head>
<body>
	<div class="wrapper">

		<!--  Header  -->
		<header class="section header"f>
			<div class="trapezoid"></div>

			<div class="header__text">
				<h1>Blog Login</h1>
				<p>Sign in or create a new account.</p>
			</div>
		</header>
		<section class="section sign-in">
			<form action="" method="Post">
				<input type="text" name="login_email" placeholder="Email">
				<input type="password" name="login_password" placeholder="Password">
				<button>Sign In</button>
				<a href="/signup" class="opposite-btn1">Don't have an account?</a>
			</form>
		</section>
	</div>
</body>

</html>